.center-absolute{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-custom{
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	padding: 20px;
}

input{
	width: 80px;
	text-align: center;
}

.center-absolute img{
	width: 300px;
}
